.form-start{
	width:300px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#D1D1D1;
}


#menu_list{
	padding-top:0.5%;
	padding-bottom:0.5%;
	padding-left:5%;
	background-color:#8CEE9F;
}

#menu_list li{
	display:inline;
	padding-right:3%;
}
#menu_list a{
	text-decoration:none;
	color:green;
	font-weight:bold;
	font-size:18px;
}


.register_error ul{
	background-color:#E95050;
	list-style-type:none;
	font-style:italic;
	text-align:center;
	padding-right:30px;
}

#prijava_link{
	text-decoration:none;
	font-style:italic;
}


